$def with (params)
<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 user-scalable=no">
    <title>Pleasantuser - Pin3D</title>
    <meta name="author" content="Pleasantuser.com">
    <meta name="description" content="360rotate Pleasantuser.com">
    
    <script type="text/javascript" src="/static/p3d/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/static/p3d/js/rotate.js?21"></script>
	<script type="text/javascript" src="/static/p3d/dopelessRotate/scripts/dopelessRotate.js?21"></script>
    <link rel="stylesheet" href="/static/p3d/dopelessRotate/css/style.css?21" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/p3d/style.css?21" type="text/css" media="screen" />
</head>
<body>

<div class="rotatebox">
	<div class="dopelessrotate">
	 <img id="rotateimage" src="images/d5/d5_001.png" width="500" height="500">
    $ infos = params.get('infos')
    $if len(infos):
        <!-- <div class="comments_spot"> -->
        <div class="specs_spot">  
        $for i in range(len(infos)):
            $ info = infos[i]
             
        			<a class='sethotspot' href='$info['pos']' title='$info['title']' posix='$info['x']' posiy='$info['y']'>
        				$info['comment']
        			</a>
        </div>
    $else:
        <div class="specs_spot">
    			<a class='sethotspot' href='0' title='Demo' posix='48' posiy='52'>    				
        			Product description
          </a>
         </div>
	</div>	
</div>
	
	<div class="spots_box">
		<div class="txt_prev"></div>
		<div class="txt_next"></div>
		<div class="spots_txt">
		</div>
	</div>
</div>



<script type='text/javascript'>
function changeImages(imgs)
{
    //alert("alerts sizes:"+alerts);
    //alert('chnage images get called'+ imgs);
    var imgJsons = JSON.parse(imgs);
    
    $$('#rotateimage').tsRotate({
        //'zoom':true,
        //'zoomfolder':'zoomimages',
        'hotspots':true,
        'autorotate':true,
        'autorotatespeed':30,
        'rotateloop':false,
        'wheelRotate':true,
        'nophp' : true,
        'nophpimglist' : imgJsons.imagelist,
        'nophpzoomlist' : imgJsons.zoomlist,
        'hotspotadd':true,
        'hotspotmanage':true,
        'disablelogo':true
    });
}

var ImageRoot = {};
ImageRoot.imagelist = $:simplejson.dumps(params.get('imagelist'));
ImageRoot.zoomlist = $:simplejson.dumps(params.get('zoomlist'));
//--insert--
ImageRoot.maximumPin = 20;
$$(document).ready(function() {
    //loadURL("whatever");

if(ImageRoot.imagelist.length > 0){  
	$$('#rotateimage').tsRotate({
		//'zoom':true,
		//'zoomfolder':'zoomimages',
		'hotspots':true,
		'autorotate':true,
		'autorotatespeed':30,
		'rotateloop':false,
		'wheelRotate':true,
		'nophp' : true,
        'nophpimglist' : ImageRoot.imagelist,
        'nophpzoomlist' : ImageRoot.zoomlist,
		'hotspotadd':true,
        'hotspotmanage':true,
		'disablelogo':true
	});
}
});
</script>

</body>
</html>